#obs{
    background-color: #007bff;
    color: white;
    margin-bottom: 5%;
}

#vdn{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #ff9a45;
    color: white;
}

span{
    color: white;
}