.text{

    font-size:1.2vw;
}

#prog{

    background-color: #007bff;
    color: white;
    border: red 10px;
    margin-top: 35px;

}

#techno{

    color: white;
    border: red 10px;
    margin-top: 35px;
}

#débouch{

    background-color: #007bff;
    color: white;
    border: red 10px;
    margin-top: 35px;
    margin-bottom: 15px;
}

#log{

    color: #007bff;
    text-align: center;
    font-size: 3vw;
    line-height: 3em;
}