body{



    width: 80%;

    margin: auto;





}




#acceuil h2{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 3%;
}

header{
    position: fixed;

h1{

    text-align: center;



}



h2{

    text-align: center;

    font-size: 3vw;

}



    margin-top: 15px;

    height: 80px;
<<<<<<< HEAD
    margin-bottom: 5%;
=======

    margin-bottom: 5%;

<<<<<<< HEAD
>>>>>>> d67e663214aaa3f89a23ee0731b3ae54f5e60788
=======


>>>>>>> 362b004946a902b1bb2007d04e90c3c2af9f3685
}



nav{

    padding-top:1.5%;

}



a{

    margin-top: 15px;

    text-decoration: none;

    color: black;

    font-size: 1.4vw;


<<<<<<< HEAD
=======


}
>>>>>>> d67e663214aaa3f89a23ee0731b3ae54f5e60788








#contacter p{

    text-align: center;

}



#copyright{

    text-align: center;

}

#promo1{

    text-align: center;

}

footer {



    background-color: #007bff;

    color: white;

    font-size: 18px;
<<<<<<< HEAD
    margin-top: 5%;
=======
    margin-top: 10%;
>>>>>>> 362b004946a902b1bb2007d04e90c3c2af9f3685

    margin-top: 10%;



}



#face{

    position: relative;

    right: 2em;

    top: 4.5em;

    height: 150px;



}

#image-facebook{

    position: relative;

    left:41%;

    margin-bottom: 16px;



}

#nous{

    position: relative;

    left: 42%;

    display: block;

    background-color: white;

    margin-bottom: 16px;



}



#image-github{

    position: relative;

    left: 44%;

    margin-bottom: 16px;

}

<<<<<<< HEAD
form {
    /* Uniquement centrer le formulaire sur la page */
    text-align: center;
    margin: 5% auto;
    width: 55%;
}

input, textarea {


    /* Pour que tous les champs texte aient la même dimension */
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 2%;

}

#textform{
    margin-top: 5%;
    text-align: center;
    font-size: 2vw;
}

.logos{
    text-align: center;
}
=======

.blue{
    background-color: #007bff;
    color: white;


}





#acceuil p{
    font-size: 1.4vw;
}
#acceuil span{
    font-size: 1.4vw;
    margin-left:  3%;
}

#acceuil aside{
    margin-top:5%;
}

#pres{
    margin-top: 2%;
}

<<<<<<< HEAD
span{
    font-size: 15px;
}





#personne2{
    position: relative;
    bottom: 25px;
    left: 15em;
}
#personne3{
    position: relative;
    bottom: 50px;
    left: 30em;
=======
#stat{
    background-color: #ff9a45;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
}

h5{
    text-align: center;
}
h6{
    text-align: center;
}
>>>>>>> 112d6dc73a76dbef9262e1fb7de7624f67f2b2bc

}
#personne4{
    position: relative;
    bottom: 4.4em;
    left: 44em;

}
#personne5{
    position: relative;
    left: 7em;

}
#personne6{
    position: relative;
    bottom:1.4em;
    left: 23em;

}
#personne7{
    position: relative;
    bottom:2.9em;
    left: 36em;

}
#personne8{
    position: relative;
    bottom: 4.5em;
    left: 50em;
}
#personne9{
    position: relative;
    left:  7em;

<<<<<<< HEAD
>>>>>>> d67e663214aaa3f89a23ee0731b3ae54f5e60788
=======
}
#personne10{
    position: relative;
    bottom: 1.4em;
    left: 21em;
}
#personne11{
    position: relative;
    bottom: 2.9em;
    left: 36em;
}
#personne12{
    position: relative;
    bottom: 4.5em;
    left: 50em;
}
#personne13{
    position: relative;
    left: 7em;
}
#personne14{
    position: relative;
    bottom: 1.4em;
    left: 21em;
}
#personne15{
    position: relative;
    bottom: 2.9em;
    left: 36em;
}
#personne16{
    position: relative;
    bottom: 4.5em;
    left: 50em;
}
#personne17{
    position: relative;
    left:7em;
}
#personne18{
    position: relative;
    bottom: 1.4em;
    left: 21em;
}
#personne19{
    position: relative;
    bottom: 2.9em;
    left: 36em;
}

>>>>>>> 362b004946a902b1bb2007d04e90c3c2af9f3685
