body{



    width: 80%;

    margin: auto;





}

header {
    position: fixed;
    margin-bottom: 5%;
}


nav{

    padding-top:1.5%;

}


a{

    margin-top: 15px;

    text-decoration: none;

    color: black;

    font-size: 1.4vw;





}


#contacter p{

    text-align: center;

}



#copyright{

    text-align: center;

}



footer {



    background-color: #007bff;

    color: white;

    font-size: 18px;



    margin-top: 10%;






}



#face{

    position: relative;

    right: 2em;

    top: 4.5em;

    height: 150px;



}

#image-facebook{

    position: relative;

    left:41%;

    margin-bottom: 16px;



}

#nous{

    position: relative;

    left: 42%;

    display: block;

    background-color: white;
    color: black;

    margin-bottom: 16px;



}



#image-github{

    position: relative;

    left: 44%;

    margin-bottom: 16px;

}



.logos{
    text-align: center;
}



h5{
    text-align: center;
}
h6{
    text-align: center;
}



<<<<<<< HEAD
}
#personne7{
    position: relative;
    bottom:2.9em;
    left: 36em;

}
#personne8{
    position: relative;
    bottom: 4.5em;
    left: 50em;
}
#personne9{
    position: relative;
    left:  7em;

<<<<<<< HEAD
>>>>>>> d67e663214aaa3f89a23ee0731b3ae54f5e60788
=======
}
#personne10{
    position: relative;
    bottom: 1.4em;
    left: 21em;
}
#personne11{
    position: relative;
    bottom: 2.9em;
    left: 36em;
}
#personne12{
    position: relative;
    bottom: 4.5em;
    left: 50em;
}
#personne13{
    position: relative;
    left: 7em;
}
#personne14{
    position: relative;
    bottom: 1.4em;
    left: 21em;
}
#personne15{
    position: relative;
    bottom: 2.9em;
    left: 36em;
}
#personne16{
    position: relative;
    bottom: 4.5em;
    left: 50em;
}
#personne17{
    position: relative;
    left:7em;
}
#personne18{
    position: relative;
    bottom: 1.4em;
    left: 21em;
}
#personne19{
    position: relative;
    bottom: 2.9em;
    left: 36em;
}

>>>>>>> 362b004946a902b1bb2007d04e90c3c2af9f3685
=======
>>>>>>> 668b2dca49e95f7f3b564d3c18297e650f7b84e1
