body{



    width: 80%;

    margin: auto;
}


header {
    position: fixed;
    margin-bottom: 5%;
}


nav{

    padding-top:1.5%;

}


a{

    margin-top: 15px;

    text-decoration: none;

    color: black;

    font-size: 1.4vw;





}


#contacter p{

    text-align: center;

}



#copyright{

    text-align: center;

}



footer {



    background-color: #007bff;

    color: white;

    font-size: 18px;



    margin-top: 10%;






}



#face{

    position: relative;

    right: 2em;

    top: 4.5em;

    height: 150px;



}

#image-facebook{

    position: relative;

    left:41%;

    margin-bottom: 16px;



}

#nous{

    position: relative;

    left: 42%;

    display: block;

    background-color: white;
    color: black;

    margin-bottom: 16px;



}



#image-github{

    position: relative;

    left: 44%;

    margin-bottom: 16px;

}



.logos{
    text-align: center;
}



h5{
    text-align: center;
}
h6{
    text-align: center;
}



