


body{
    text-align: center;
}




span{
    border: solid #007bff;
    background-color: #007bff;
    font-size: 20px;
    margin-bottom: 4%;
    color: white;
}
.fond{
    background-color: #007bff;
}

