


body{
    text-align: center;
}




span{
    border: solid #007bff;
    background-color: #007bff;
    font-size: 20px;
    color: white;
}
.fond{
    background-color: #007bff;
}

h1{
    border:solid #007bff;
    background-color: #007bff;
    color: white;
}